:root {
    --base-font-size: 16px;
    --theme-color: rgb(60, 164, 196);
    --sidebar-nav-pagelink-background-image: false;
    --sidebar-nav-pagelink-padding: 4px 0px 4px 0px;
    --sidebar-toggle-height: 60px;
    --sidebar-toggle-width: 60px;
    --blockquote-em-font-style: italic;
}

body[data-page="README.md"] #main>div:first-child,
body[data-page="README.md"] #progress-display {
    display: none;
}

body[data-page="es/README.md"] #main>div:first-child,
body[data-page="es/README.md"] #progress-display {
    display: none;
}

body .docsify-pagination-container {
    display: none;
}

#main {
    padding-top: 90px;
}

.sidebar .search div.clear-button {
    margin-top: 8px;
}

.github-corner {
    margin-right: 20px;
    margin-top: 20px;
}

.sidebar-nav ul>li>ul {
    margin-top: 10px;
}

.sidebar-nav ul>li>a {
    white-space: initial;
}

.docsify-pagination-container a[href="#/"],
.docsify-pagination-container a[href="#/es/"] {
    display: none;
}

footer {
    display: flex;
    margin-top: 50px;
}

.avatar-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 0.875rem;
    margin-bottom: 0px;
    min-width: 50px;
    border-radius: 100%;
}

.avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: opacity .5s ease .5s;
    border-radius: 50%;
}

.updated-at {
    font-size: 0.9em;
    font-weight: bold;
    float: left;
    margin-bottom: 1em;
}

.reading-count {
    float: right;
    font-size: 0.9em;
    color: rgb(90, 90, 90);
}

.github-corner {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    max-width: none;
    outline: none;
    overflow: hidden;
    padding: 6px 10px 8px;
}

.github-corner:hover {
    opacity: .75;
}

.scroll-to-top {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    outline: none;
    padding: 5px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    opacity: .75;
}

.progress-wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 10px;
    bottom: 0;
}

#progress-display {
    background-color: var(--theme-color);
    width: 0;
    border-radius: 2px;
    height: 10px;
    transition: width 0.3s;
}